body {
  /*display: flex;
  margin: auto;
  justify-content: center;*/
}

.header {
  display: grid;
  grid-template-columns: 2.5fr 2.13fr 1.03fr;
  grid-template-rows: 100%;
  align-items: center;
  height: 109px;
  margin: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.header__links-list-item {
  /*list-style: "○";*/
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  /*padding-left: 7px;*/
  color: #000;
  font-size: 18px;
  line-height: 1.2;
}

.header__link_active {
  padding-left: 0;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
  padding-bottom: 4px;
}

.header__address {
  justify-self: start;
  font-size: 18px;
  line-height: 24.3px;
}

.underline {
  border-bottom: 1px solid #000;
  padding-bottom: 0px;
  text-decoration: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  /*background-size: 94% auto;*/
  background-size: 100%;
  z-index: -1;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  z-index: 0;
  /*background-size: cover;*/
}

.cover__title {
  position: relative;
  width: 100%;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
  /*color: #fff;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;*/
}

.accent-span {
  display: block;
}

.aligned-text {
  padding: 165px 50px 20px 50px;
  line-height: 115px;
}

.aligned-text_center {
  text-align: center;
  padding: 0 50px 20px 50px;
  line-height: 100px;
}

.aligned-text_right {
  text-align: right;
  padding: 0 50px 0 50px;
  line-height: 100px;
}

.ls60 {
  letter-spacing: 60px;
}

.lsnull {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  padding: 135px 0 50px 422px;
}

.cover__description-text {
  /*width: 100%;*/
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.button {
  margin: 0 50px 0 73px;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  /*box-sizing: border-box;*/
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  height: 52px;
  justify-content: center;
  line-height: normal;
  min-width: 257px;
  outline: 0;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lots {
  margin: 0 50px 181px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-link {
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  height: 100%;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
  /*border: 1px solid #fd24af;*/
}

.card__title {
  display: flex;

  padding: 50px 40px 0 40px;
  color: #fff;

  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  display: flex;

  color: #641f1f;
  padding: 0 40px 50px 40px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  display: flex;
  flex-direction: column;
  gap: 202px;
  justify-content: space-around;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  display: flex;
  flex-direction: column;
  gap: 82px;
  justify-content: space-around;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.card-link {
  display: block;
  height: 100%;
}
