.header {
  display: grid;
  grid-template-columns: 2.5fr 2.13fr 1.03fr;
  grid-template-rows: 100%;
  align-items: center;
  height: 109px;
  margin: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
}

.header__link_active {
  padding-left: 0;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
  padding-bottom: 4px;
}

.header__address {
  justify-self: start;
  font-size: 18px;
  line-height: 24.3px;
}

.underline {
  border-bottom: 1px solid #000;
  padding-bottom: 0px;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: -1;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.aligned-text {
  padding: 165px 50px 20px 50px;
  line-height: 115px;
}

.aligned-text_center {
  padding: 0 50px 20px 50px;
  line-height: 100px;
  text-align: center;
}

.aligned-text_right {
  padding: 0 50px 0 50px;
  line-height: 100px;
  text-align: right;
}

.ls60 {
  letter-spacing: 60px;
}

.lsnull {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  padding: 135px 0 50px 422px;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 257px;
  height: 52px;
  margin: 0 50px 0 73px;
  border: 1px solid #fff;
  padding: 12px 32px;
  outline: 0;
  /*box-sizing: border-box;*/
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  /*user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;*/
}

.lots {
  margin: 0 50px 181px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  background-size: cover;
}

.card__title {
  z-index: 1;
  padding: 50px 40px 0 40px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: none;
  text-decoration-line: none;
  text-transform: uppercase;
}

.card__title-underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
}

.card__text {
  z-index: 1;
  padding: 0 40px 50px 40px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%; /* 24px */
}

.card_type_film {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin: 0 50px 182px 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 240px;
  gap: 8px 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 95px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: center;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 25px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.class nowrap-item {
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 90px 50px;
}

.footer__menu-list {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;

  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-list-item {
  display: flex;
}
